<div class="row">
  <div class="col-md-6 offset-md-3 mt-4">
    <h3>Login</h3>
    <form #f="ngForm" (ngSubmit)="onLogin(f)">
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input
          name="email"
          ngModel
          required
          #email="ngModel"
          type="email"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          placeholder="Enter email"
        />
        <small id="emailHelp" class="form-text text-muted"
          >Verified by Mircea.</small
        >
      </div>
      <button type="submit" [disabled]="f.invalid" class="btn btn-primary">
        Login
      </button>
    </form>
  </div>
</div>
